{
  "extends": "standard",
  "rules": {
    // Variables
    "camelcase": "error",
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "prefer-destructuring": ["warn", {
      "array": false,
      "object": true
    }],
    "no-undefined": "off",

    // Style
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "space-before-function-paren": "off",
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs"],
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],

    // Tidiness
    "space-before-blocks": "error",
    "comma-dangle": "error",
    "object-curly-spacing": ["error", "always"],
    "no-extra-parens": "error",
    "no-irregular-whitespace": "error",
    "comma-spacing": "error",
    "no-trailing-spaces": "error",
    "arrow-spacing": "error",
    
    // Other
    "no-console": "warn",
    "no-unreachable": "error",
    "default-case": "error",
    "no-else-return": "error",
    "eol-last": "error",
  },
  "env": {
    "jest": true
  }
}